
* {
    margin: 0;
    padding: 0;
}
// ::selection{
//     // background-color:$secondery-color ;
//     color: $white;
// }
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
    transition: .3s ease;

    &:focus {
        outline: 0;

    }
}
section{
    margin-bottom:120px ;
}
@include mobile{
    section{
        margin-bottom:60px ;
    }
}
@include tablet{
    section{
        margin-bottom:100px ;
    }
}